<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>osx-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishDir>$(MSBuildProjectDirectory)/dist/osx-arm64/</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)/dist/osx-arm64/</PublishUrl>
  </PropertyGroup>
</Project>
