<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>


    <PublishDir>$(MSBuildProjectDirectory)/dist/win-x64-aot/</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)/dist/win-x64-aot/</PublishUrl>
  </PropertyGroup>
</Project>
