<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishDir>$(MSBuildProjectDirectory)/dist/win-x64/</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)/dist/win-x64/</PublishUrl>
  </PropertyGroup>
</Project>
